{% extends 'base.html' %} {% block upload %}
<div class="container">
  <form action="/" method="POST" enctype="multipart/form-data">
    <div class="my-4">
      <h3 for="formFile" class="form-label">Upload Your Resume</h3>
      <input
        class="form-control my-5"
        type="file"
        name="filePath"
        id="formFile"
      />
    </div>
    <div class="container my-4">
      <input class="btn btn-primary" type="submit" value="Submit" />
    </div>
  </form>
</div>
{% endblock %}